name: Cypress Tests

on: [push]

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      # Install NPM dependencies, cache them correctly
      # and run all Cypress tests
      - name: Cypress run
        uses: cypress-io/github-action@v2
        with:
          build: npm run build
          start: npm start

  ui-chrome-tests:
       runs-on: ubuntu-latest
       container: cypress/browsers:node12.18.3-chrome87-ff82
       strategy:
         fail-fast: false
         matrix:
        # run copies of the current job in parallel
          containers: [1, 2, 3, 4, 5]
       steps:
        - name: Checkout
          uses: actions/checkout@v2

        - name: Download the build folders
          uses: actions/download-artifact@v2
          with:
            name: build
            path: build
